<page xmlns="http://projectmallard.org/1.0/"
      type="topic" style="task"
      id="convertPostScript">

  <info>
    <link type="guide" xref="index#tips"/>
    <desc>You can convert a document to PostScript.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.10.3" date="2014-03-22" status="review"/>

    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Anna Philips</name>
      <email>anna.cs.au@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  </info>

<title>Converting a document to PostScript</title>

<p>
You can convert documents of the following format types to PostScript files:
</p>
<list>
 <item><p>DjVu (.djvu, .djv)</p></item>
 <item><p>Portable Document Format (.pdf)</p></item>
 <item><p>Tagged Image File Format (.tiff, .tif)</p></item>
</list>
<p>
This works by opening the file in <app>Papers</app> and "printing" the document as a PostScript file.
</p>
<steps>
    <item>
      <p>Click the <gui>File options</gui> menu in the top right corner and
      select <gui>Print</gui> or press
      <keyseq><key>Ctrl</key><key>P</key></keyseq> and go to the
      <gui>General</gui> tab.</p>
    </item>
    <item>
      <p>
      Select <gui>Print to File</gui> and choose PostScript as the
      <gui>Output format</gui>.
      </p>
    </item>
    <item>
      <p>
      Choose a name and folder in which to save the file, then click <gui>Print</gui>.
      The PostScript file will be saved in the folder you chose.
      </p>
    </item>
</steps>
</page>
