<page xmlns="http://projectmallard.org/1.0/"
      type="topic" style="task"
      id="editing">

  <info>
    <link type="guide" xref="index#faq"/>
    <desc>You can't use <app>Papers</app> to edit files.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.34" version="0.2" date="2019-11-26" status="final"/>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  </info>

<title>Can I edit documents in Papers?</title>


 <p>
  <app>Papers</app> can't be used to make changes to documents. You need to use the appropriate editing application for the type of file you want to change.
 </p>


<note>
 <p>
 PDF and PostScript (.ps) files are not usually intended to be edited, but PDF editing software is available. Try
 <app>LibreOffice Draw</app> or <app>Okular</app>, for example.
 Furthermore, <app>pdfarranger</app> allows rearranging or removing pages and merging files.
 </p>
</note>
</page>
